workflows/Tracking de envios - GRUPO 6 (19-11-25).json
{
  "name": "Tracking de envios - GRUPO 6",
  "nodes": [
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1056,
        512
      ],
      "id": "3ebb1caf-363a-4a8d-b589-36401c82e554",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "sFmkWV4af78vg0lv",
          "name": "Credenciales personales"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "\"sesion_test\"",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -960,
        512
      ],
      "id": "7f0fe5e3-e350-4bd4-8a25-097b15983f4d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// Este nodo procesa la salida del AI Agent (Lía) y prepara los datos para el Switch.\n// Toma el texto generado por la IA, extrae el JSON principal { \"accion\": \"...\", \"datos\": [...] }\n// Separa cada registro en el array \"datos\" en un item de n8n.\n// Añade la \"accion\" y el \"query_sql\" a cada uno de esos items para el Switch y la DB.\n\n// Asumimos que la salida de la IA está en el primer item de entrada.\nconst item = items[0];\n\ntry {\n  const fullOutput = item.json.output || '';\n\n  // ⿡ Buscar el JSON principal (debe ser un objeto que empiece con { y termine con })\n  const startIndex = fullOutput.indexOf('{');\n  const endIndex = fullOutput.lastIndexOf('}');\n\n  if (startIndex === -1 || endIndex === -1 || endIndex < startIndex) {\n    throw new Error(\"No se encontró un objeto JSON válido ({...}) en la salida de la IA.\");\n  }\n\n  // ⿢ Extraer y limpiar el string JSON\n  const jsonString = fullOutput.substring(startIndex, endIndex + 1).trim();\n\n  // ⿣ Parsear el JSON\n  const parsedJson = JSON.parse(jsonString);\n\n  // ⿤ Validar la estructura esperada (según el prompt de Lía)\n  if (!parsedJson.accion || !parsedJson.datos || parsedJson.query_sql === undefined) {\n    // ------------------------ LÍNEA 28 CORREGIDA ------------------------\n    throw new Error(`El JSON parseado no tiene la estructura esperada { \"accion\": \"...\", \"datos\": [...], \"query_sql\": \"...\" }. Se recibió: ${jsonString}`);\n    // --------------------------------------------------------------------\n  }\n\n  // ⿥ Extraer la acción, los datos y la query\n  const accion = parsedJson.accion.trim().toLowerCase(); // Normalizamos la acción\n  const datosArray = parsedJson.datos;\n  const querySql = parsedJson.query_sql;\n  const mensajeIa = parsedJson.mensaje || null; // Captura mensajes de error de la IA\n\n  // Validar que 'datos' sea un array\n  if (!Array.isArray(datosArray)) {\n     throw new Error(\"El campo 'datos' en el JSON no es un array.\");\n  }\n\n  // ⿦ Si 'datos' está vacío (ej. no hay resultados o es un error de la IA)\n  // Devolvemos un solo item con la acción y el mensaje (si existe)\n  if (datosArray.length === 0) {\n    return [{\n      json: {\n        accion: accion,\n        query_sql: querySql,\n        mensaje_ia: mensajeIa,\n        isEmpty: true, // Una bandera para saber que no hay datos\n        data: {} // Un objeto vacío para consistencia\n      }\n    }];\n  }\n\n  // ⿧ Devolver cada registro de 'datos' como un item separado,\n  //    con la 'accion' y 'query_sql' incluidas.\n  //    Esto permite que el nodo Switch evalúe CADA item por su 'accion'.\n  return datosArray.map(registro => ({\n    json: {\n      data: registro, // Los datos del registro (ej. { \"Cód. Envío\": \"E0004\", ... })\n      accion: accion, // La acción para el Switch (ej. \"enviar\")\n      query_sql: querySql // La query para el nodo Postgres (ej. \"SELECT...\")\n    }\n  }));\n\n} catch (er) {\n  console.log(\"Error al parsear JSON de Lía:\", er);\n  \n  // Devolver un item de error\n  return [{\n    json: {\n      error: \"Error al parsear el JSON\",\n      details: er.message,\n      originalOutput: item.json.output || 'Sin salida disponible'\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        320
      ],
      "id": "e162f086-472d-4d0b-bac8-e1adffd9fd06",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        176,
        368
      ],
      "id": "8bf5e969-12eb-46b2-84dd-e0470c8477d1",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        176,
        0
      ],
      "id": "7fc2a5c2-000d-48af-943d-e13befcfdce9",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        176,
        176
      ],
      "id": "9ac89733-4563-42e1-994a-cfdfff2fd6fe",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\flor_\\Downloads\\Informes\\Informes.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        480,
        176
      ],
      "id": "8c8160d3-628e-4246-be14-dcd5de55ae92",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cc040b19-7385-441f-af4d-0a30cc519038",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "drive",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8bb6b6ad-22fb-4f2c-b5a4-319dedc6961c",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "descargar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f3a5616d-a8ed-4252-a243-2ee5b3abfca3",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "enviar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05014694-9016-4c8a-9e1b-f445b79311b8",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "drive, descargar, enviar",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -272,
        288
      ],
      "id": "4b0f7db1-3e7c-493a-b493-ab52f876a55c",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "tracking.envios.6@gmail.com",
        "subject": "Hola",
        "message": "Buenas te mando el informe adjunto:",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=data"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        368
      ],
      "id": "10284886-df06-4f43-b951-fc6ebac7fe7f",
      "name": "Send a message",
      "webhookId": "98b4bbd0-8bf4-4526-ada3-4938a64aba31",
      "credentials": {
        "gmailOAuth2": {
          "id": "6QOrtv6JtEppg6HI",
          "name": "GoogleAuth"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prueba",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1472,
        96
      ],
      "id": "cc6ce822-1ca7-42d7-add7-7a77db819dc2",
      "name": "Webhook",
      "webhookId": "710b8009-9023-47a2-8b21-eab6b31b5273"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        720,
        0
      ],
      "id": "4acf963f-cf09-4d9b-b44e-9159dda8a243",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        720,
        176
      ],
      "id": "82d5b0fa-6e3c-4253-8f19-fdfe0532f772",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "\"¡El correo ha sido enviado correctamente",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        720,
        368
      ],
      "id": "341f70c6-6745-4c1e-a55b-77578ce38439",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        176,
        576
      ],
      "id": "9ffb17b9-e56f-43a1-a30e-85cd78abc9f6",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "options": {
          "allowedFilesMimeTypes": "*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1472,
        320
      ],
      "id": "8af27776-3c55-4654-aafc-6c0007a3b67d",
      "name": "When chat message received",
      "webhookId": "702fe084-5bff-4a5d-b36d-acbc6f1a17b2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $fromAI('query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -864,
        512
      ],
      "id": "c6a20b97-e081-400c-8575-d29cda0bccee",
      "name": "Execute a SQL query in Postgres",
      "credentials": {
        "postgres": {
          "id": "ccOJew8EfGVPc6oJ",
          "name": "Sistema de consulta de envíos"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "🧠 Contexto general\n\nEres Lía, un asistente virtual especializado en el sistema de gestión de envíos y logística.\nTu propósito es interpretar preguntas en lenguaje natural del usuario y devolver **SIEMPRE** un objeto JSON con los datos solicitados.\n\n🎯 Objetivo principal\n\n1. Interpretar correctamente las consultas sobre el sistema logístico.\n2. Generar una respuesta basada en las vistas provistas.\n3. Utilizar nombres de columnas legibles para el usuario final (ej. \"Cód. Envío\", \"Remitente\").\n4. Omitir las columnas que representen llaves primarias o foráneas (id_, fk_, legajo, etc.) salvo que sean informativas.\n\n⚙ Contexto técnico SQL (Uso interno de Lía)\n\n1. Todas las tablas, vistas y funciones se encuentran dentro del esquema public.\n2. Todas las consultas DEBEN incluir el esquema (ej. public.vw_tracking).\n3. Todas las vistas y columnas deben usarse con sus nombres exactos (ej. vw_repartidor_Localidades).\n4. **IMPORTANTE: Para los alias (AS), DEBES usar comillas dobles (\").** Ejemplo: codigo_envio AS \"Cód. Envío\". **NUNCA uses comillas simples (').**\n\n🚫 Restricciones\n\n1. Si el usuario pide mostrar la base de datos, tablas o vistas, responde con:\n    { \"accion\": \"visualizar\", \"datos\": [], \"mensaje\": \"⚠ La operación solicitada no está habilitada. Realice otra consulta válida.\" }\n2. Si intenta usar INSERT, UPDATE, DELETE o DROP, responde con:\n    { \"accion\": \"visualizar\", \"datos\": [], \"mensaje\": \"⚠ Las operaciones de modificación no están permitidas. Solo puedes consultar información mediante SELECT.\" }\n3. Si la consulta está fuera del dominio logístico, responde con:\n    { \"accion\": \"visualizar\", \"datos\": [], \"mensaje\": \"Esa información no pertenece al sistema logístico.\" }\n4. **SIEMPRE que el usuario quiera solicitar información de la base de datos deberás utilizar la herramienta de Postgres para generar la query de SQL, no debes generar la query mediante el modelo de lenguaje. Y cuando te hagan solicitudes de información, solamente podes responder con información obtenida utilizando esta herramienta, sin excepciones. \n\n💬 Mensaje de bienvenida (Solo si el usuario dice \"hola\")\n\n👋 ¡Hola! Soy Lía, tu Asistente Virtual de Logística. Estoy aquí para ayudarte a obtener y gestionar información de envíos, reportes y seguimiento. Por favor, dime qué datos necesitas.\n\n📚 Vistas y Columnas Reales (Uso Interno)\nEsta es la estructura que DEBES usar para las consultas:\n\n1. *public.vw_tracking* (Tracking completo de envíos)\n    * codigo_envio, peso, largo, alto, ancho, tipo_envio, fecha_creacion, llegada_estimada, nombre_remitente, apellido_remitente, email_remitente, localidad_remitente, provincia_remitente, direccion_remitente_completa, nombre_destinatario, apellido_destinatario, email_destinatario, localidad_destino, provincia_destino, direccion_destino_completa, estado_actual, fecha_ultimo_movimiento, centro_actual, repartidor_actual, motivo_fallo\n\n2. *public.vw_historial_movimientos* (Historial de un envío)\n    * codigo_envio, fecha_hora_movimiento, estado, centro_distribucion, repartidor_responsable, motivo_de_fallo\n\n3. *public.vw_envios_fallidos_detalle* (Solo envíos fallidos)\n    * codigo_envio, remitente_nombre, remitente_email, destinatario_nombre, destinatario_direccion, motivo_de_fallo, fecha_fallo, fecha_creacion\n\n4. *public.vw_repartidor_zonas* (Zonas de entrega por repartidor)\n    * legajo_repartidor, nombre_repartidor, apellido_repartidor, email_repartidor, localidad_asignada, provincia_asignada, codigo_postal\n\n5. *public.vw_repartidor_Localidades* (Datos de contacto de repartidores)\n    * Legajo, nombre_repartidor, Telefono_repartidor, Email_repartidor, Localidad_asignada, Provincia_asignada, codigo_postal\n\n🧩 Comportamiento esperado\n1. Si la consulta coincide con una vista, generas los datos mentalmente usando las columnas listadas.\n2. Al renombrar columnas (ej. direccion_destino_completa → \"Dirección Destino\"), asegúrate de que la columna original existe en la vista.\n\n📤 Formato de salida (¡¡MUY IMPORTANTE!!)\n\nNUNCA respondas con texto conversacional, saludos o explicaciones (como \"Aquí tienes...\", \"Claro...\", \"Este es el informe...\") si no es con el mensaje de bienvenida.\nNUNCA uses formato Markdown.\n\nTu única y absoluta salida DEBE ser un objeto JSON válido que comience con { y termine con } y siga esta estructura exacta:\n\n{\n  \"accion\": \"string\",\n  \"datos\": [\n    { \"Columna Legible 1\": \"valor1\", \"Columna Legible 2\": \"valor2\" },\n    { \"Columna Legible 1\": \"valor3\", \"Columna Legible 2\": \"valor4\" }\n  ],\n  \"query_sql\": \"string\"\n}\n\n- \"accion\" (string): Debe ser **\"visualizar\" (default)** si el usuario pide ver/mostrar datos. Usa \"descargar\", \"drive\" o **\"enviar\"** SOLAMENTE si el usuario lo pide explícitamente (ej. \"enviame por correo\").\n- \"datos\" (array): Un array de objetos con los resultados. CADA CLAVE debe ser un nombre legible (ej. \"Cód. Envío\"). Si no hay resultados, debe ser un array vacío [].\n- \"query_sql\" (string): La consulta SQL (SELECT) que usarías para obtener esos datos.\n\n📊 Ejemplos de consultas y respuestas esperadas, **NO ES UNA CONSULTA QUE DEBAS EJECUTAR, SINO QUE TENES QUE TOMARLA COMO EJEMPLO PARA REALIZAR LAS CONSULTAS SOLICITADAS POR EL USUARIO**\n\n* Consulta del usuario: “Mostrame los envíos fallidos”\n* **Respuesta JSON esperada:**\n{\n  \"accion\": \"visualizar\",\n  \"datos\": [\n    { \"Cód. Envío\": \"E0004\", \"Remitente\": \"Javier\", \"Destinatario\": \"Javier\", \"Dirección Destino\": \"Juramento 1800\", \"Motivo de Fallo\": \"Dirección incorrecta\", \"Fecha Fallo\": \"2025-10-21\" }\n  ],\n  \"query_sql\": \"SELECT codigo_envio AS 'Cód. Envío', remitente_nombre AS 'Remitente', destinatario_nombre AS 'Destinatario', destinatario_direccion AS 'Dirección Destino', motivo_de_fallo AS 'Motivo de Fallo', fecha_fallo AS 'Fecha Fallo' FROM public.vw_envios_fallidos_detalle;\"\n}\n\n* Consulta del usuario: “Ver historial del envío E0004”\n* **Respuesta JSON esperada:**\n{\n  \"accion\": \"visualizar\",\n  \"datos\": [\n    { \"Fecha y Hora\": \"2025-10-21 09:00\", \"Estado\": \"En preparación\", \"Centro\": \"Depósito Central\", \"Repartidor\": \"Ana\" },\n    { \"Fecha y Hora\": \"2025-10-21 14:30\", \"Estado\": \"Intento de entrega\", \"Centro\": \"Depósito Central\", \"Repartidor\": \"Ana\", \"Motivo Fallo\": \"Dirección incorrecta\" }\n  ],\n  \"query_sql\": \"SELECT fecha_hora_movimiento AS 'Fecha y Hora', estado AS 'Estado', centro_distribucion AS 'Centro', repartidor_responsable AS 'Repartidor', motivo_de_fallo AS 'Motivo Fallo' FROM public.vw_historial_movimientos WHERE codigo_envio = 'E0004';\"\n}\n\n* Consulta del usuario: “Exportar los envíos fallidos”\n* Respuesta JSON esperada:\n{\n  \"accion\": \"descargar\",\n  \"datos\": [\n    { \"Cód. Envío\": \"E0004\", \"Remitente\": \"Javier\", \"Destinatario\": \"Javier\", \"Dirección Destino\": \"Juramento 1800\", \"Motivo de Fallo\": \"Dirección incorrecta\", \"Fecha Fallo\": \"2025-10-21\" }\n  ],\n  \"query_sql\": \"SELECT codigo_envio AS \"Cód. Envío\", remitente_nombre AS \"Remitente\", destinatario_nombre AS \"Destinatario\", destinatario_direccion AS \"Dirección Destino\", motivo_de_fallo AS \"Motivo de Fallo\", fecha_fallo AS \"Fecha Fallo\" FROM public.vw_envios_fallidos_detalle;\"\n}\n\n* Consulta del usuario: “Subí el tracking del E0004 a Drive”\n* Respuesta JSON esperada:\n{\n  \"accion\": \"drive\",\n  \"datos\": [\n    { \"Cód. Envío\": \"E0004\", \"Estado Actual\": \"Entrega fallida\", \"Destinatario\": \"Javier\", \"Dirección Destino\": \"Juramento 1800\", \"Llegada Estimada\": \"2025-10-21\", \"Repartidor\": \"Ana\" }\n  ],\n  \"query_sql\": \"SELECT codigo_envio AS \"Cód. Envío\", estado_actual AS \"Estado Actual\", nombre_destinatario AS \"Destinatario\", direccion_destino_completa AS \"Dirección Destino\", llegada_estimada AS \"Llegada Estimada\", repartidor_actual AS \"Repartidor\" FROM public.vista_tracking WHERE codigo_envio = 'E0004';\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1056,
        320
      ],
      "id": "6db6da5b-7136-4b83-89d0-97965cd194a4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "name": "Archivo subido",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1h0VyjBVL-Se4mlhWq-3WCsDZphducUsG",
          "mode": "list",
          "cachedResultName": "Trabajos Orquestador",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1h0VyjBVL-Se4mlhWq-3WCsDZphducUsG"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        0
      ],
      "id": "6bddb7ee-d84c-4c5c-863d-76274930712a",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7cy1Q0z4xtu5HZRm",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {
    "Read/Write Files from Disk": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query in Postgres": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook3": {
      "main": [
        []
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3fa873fd-af68-42c9-b30b-cd4bb3b4ac19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7a4a94f5f7ee7f6806649e1110e45e48afcaf655789941b1dc8c39976cde587"
  },
  "id": "1FSBd0yjBRIAPamK",
  "tags": []
}